@import './mixin.scss';
@import './responsive';

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
}

body.login_failed {
    background-color: black;

    .loader {
        width: 400px;
        height: 220px;
        background: url('../assets/new-ui/compressed/login-failed.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90vw;
        cursor: pointer;

        @media only screen and (max-width: 450px) {
            width: 350px;
            height: 200px;
        }


        @media only screen and (max-width: 390px) {
            width: 250px;
            height: 180px;
        }


        &.clicked {
            background: url('../assets/new-ui/compressed/login-failed-click.png') no-repeat;
            background-size: contain;
        }
    }
}


.bottomPanel {
    @include displayFlex(column, space-between, center, 0);
    @include size( 100%, max-content);
    @include setPosition(absolute, auto, auto, -15px, 0 );
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    overflow: visible;
    left: 50%;
    transform: translate(-50%,0%);
    /*width: calc(var(--app-height) / 1.8);*/
    width: 100%;
    z-index: 9;

    &__background {
        position: absolute;
        height: 230px;
        bottom: 0;
        width: 100%;
        background-image: radial-gradient(ellipse, #000000 45%, transparent 70%);

        @include responsive(desktop) {
            background-size: 100% 200%;
            background-position-x: 0%;
        }

        background-position-x: 40%;
        background-size: 150% 200%;
        z-index: -2;
    }




    &__buttons {
        @include displayFlex(row, space-between, center, 0);
        @include size(100%, 62px);
        margin-bottom: 10px;



        .buyBonus {
            @include displayFlex(column, center, center, 0);
            @include size(120px, 81%);
            background-image: url('../assets/UI/compressed/button-background.png');
            background-size: cover;
            padding: 12px;
            cursor: pointer;
            user-select: none;

            &.hidden {
                animation: hideButtonLeft 0.5s ease-in-out forwards;
            }



            &__title {
                @include setFont(15px, 400, 15px);
                font-family: victor-pixel;
                color: #FFF;
            }

            &__amount {
                font-family: victor-pixel;
                @include setFont(18px, 400, 18px);
                color: #03D720;
            }
        }

        .doubleChance {
            @include displayFlex(column, center, center, 0);
            @include size(120px, 81%);
            background-image: url('../assets/UI/compressed/button-background.png');
            background-size: cover;
            padding: 11px 0 9px 0;
            cursor: pointer;
            user-select: none;

            &.hidden {
                animation: hideButtonRight 0.5s ease-in-out forwards;
            }



            &__title {
                @include displayFlex(column, center, center, 0);
                @include setFont(10px, 400, 10px);
                font-family: victor-pixel;
                color: #FFF;
            }

            &__amount {
                @include displayFlex(row, center, center, 0);
                font-family: victor-pixel;
                @include setFont(10px, 400, 10px);
                color: #FFF;


                p {
                    @include displayFlex(row, center, center, 0);
                }

                img {
                    margin-left: 4px;
                }
            }
        }
    }


    &__information {
        @include responsive(desktop) {
            @include size(calc(var(--app-height) / 1.8),32px);
            @include setPosition(auto,auto,auto, auto,auto);
        }

        @include size(calc(100% - 30px), 32px);
        @include setPosition(auto,auto,15px, auto,auto);
        @include displayFlex(column, space-between, flex-start, 0);


        &__content {
            @include displayFlex(row, space-between, flex-start, 0);
            @include size(100%, 42px);
            display: flex;
            grid-template-columns: 1fr 2fr 1fr;
            align-self: center;
            justify-content: space-between;

            .totalBet {
                @include displayFlex(column, center, flex-start, 0);

                &__title {
                    @include setFont(10px, 400, 12px);
                    font-family: retrocomputer;
                    color: #9A999B;
                }

                &__amount {
                    @include setFont(14px, 400, 20px);
                    font-family: "retrocomputer";
                    color: #FFF;
                }
            }

            .wonAmount {
                @include displayFlex(column, flex-start, center, 0);
                transform: translateY(-8px);

                &__cash {
                    @include setFont(24px, 400, 24px);
                    font-family: victor-pixel;
                    text-align: center;
                    color: #FFFFFF;
                }

                &__multiplier {
                    @include setFont(14px, 400, 14px);
                    font-family: victor-pixel;
                    text-align: center;
                    color: #00AFFF;
                }
            }

            .playerBalance {
                @include displayFlex(column, center, flex-end, 0);


                &__title {
                    @include setFont(10px, 400, 12px);
                    font-family: retrocomputer;
                    color: #9A999B;
                }

                &__amount {
                    @include setFont(14px, 400, 20px);
                    font-family: "retrocomputer";
                    color: #FFF;
                }

                &__freebit {
                    color: #9A999B;
                }
            }
        }

        .blue_border {
            /*@include size(105vw, 2px);*/
            /*transform: translateX(-35px);*/
            @include size(100%, 1px);
            transform: unset;

            .mobile {
                @include displayFlex(row, center, center, 0);
                @include size(100%);
                position: relative;
                display: none;
            }


            img {
                @include size(100%);
                object-fit: cover;

                &.desktop {
                    display: block;
                }
                /*                @include responsive(desktop) {
                    &.desktop {
                        display: block;
                    }
                }*/
            }
        }
    }

    &__content {
        @include displayFlex(row, center, flex-start, 0);
        @include size(100%, 175px);
        padding: 10px 0;
        /*background: #000000;*/

        @include responsive(desktop) {
            height: 182px;
            background: none;
        }

        .leftSide {
            @include displayFlex(column, space-between, flex-end, 0);
            @include size(max-content, 90%);
            z-index: 1;

            .autoPlay {
                @include displayFlex(column, center, center, 0);
                margin: 0 17.65px 0 0;
                cursor: pointer;



                .enabled {
                    display: none;
                }

                .disabled {
                    display: block;
                }

                .enabled-pushed {
                    display: none;
                }

                .disabled-pushed {
                    display: none;
                }


                img {
                    @include size(63.28px, 60px);
                    margin-bottom: 2px;
                }

                span {
                    font-family: victor-pixel;
                    @include setFont(13px,400, 12px);
                    text-align: center;
                    color: #6D6D6D;
                }

                &.active {
                    .enabled {
                        display: block;
                    }

                    .disabled {
                        display: none;
                    }

                    .enabled-pushed {
                        display: none;
                    }

                    .disabled-pushed {
                        display: none;
                    }
                }

                &.active-pushed {
                    .enabled {
                        display: none;
                    }

                    .disabled {
                        display: none;
                    }

                    .enabled-pushed {
                        display: block;
                    }

                    .disabled-pushed {
                        display: none;
                    }
                }

                &.disabled-pushed {
                    .enabled {
                        display: none;
                    }

                    .disabled {
                        display: none;
                    }

                    .enabled-pushed {
                        display: none;
                    }

                    .disabled-pushed {
                        display: block;
                    }
                }
            }

            .burgerMenu {
                @include displayFlex(row, center, center, 0);
                cursor: pointer;

                .disabled {
                    display: block;
                }

                .enabled {
                    display: none;
                }

                &.enabled {
                    .disabled {
                        display: none;
                    }

                    .enabled {
                        display: block;
                    }
                }


                img {
                    @include size(40px);
                }
            }
        }

        .rightSide {
            @include displayFlex(column, space-between, flex-start, 0);
            @include size(max-content, 90%);
            z-index: 1;

            .fastPlay {
                @include displayFlex(column, center, center, 0);
                margin: 0 0 0 17.65px;
                cursor: pointer;



                .level1 {
                    display: none;
                }

                .level1-pressed {
                    display: none;
                }

                .level2 {
                    display: block;
                }

                .level2-pressed {
                    display: none;
                }

                .level3 {
                    display: none;
                }

                .level3-pressed {
                    display: none;
                }

                img {
                    @include size(65px);
                }

                span {
                    font-family: victor-pixel;
                    @include setFont(13px,400, 12px);
                    text-align: center;
                    color: #6D6D6D;
                }

                &.level1 {
                    .level1 {
                        display: block;
                    }

                    .level1-pressed {
                        display: none;
                    }

                    .level2 {
                        display: none;
                    }

                    .level2-pressed {
                        display: none;
                    }

                    .level3 {
                        display: none;
                    }

                    .level3-pressed {
                        display: none;
                    }
                }

                &.level1-pressed {
                    .level1 {
                        display: none;
                    }

                    .level1-pressed {
                        display: block;
                    }

                    .level2 {
                        display: none;
                    }

                    .level2-pressed {
                        display: none;
                    }

                    .level3 {
                        display: none;
                    }

                    .level3-pressed {
                        display: none;
                    }
                }

                &.level2 {
                    .level1 {
                        display: none;
                    }

                    .level1-pressed {
                        display: none;
                    }

                    .level2 {
                        display: block;
                    }

                    .level2-pressed {
                        display: none;
                    }

                    .level3 {
                        display: none;
                    }

                    .level3-pressed {
                        display: none;
                    }
                }

                &.level2-pressed {
                    .level1 {
                        display: none;
                    }

                    .level1-pressed {
                        display: none;
                    }

                    .level2 {
                        display: none;
                    }

                    .level2-pressed {
                        display: block;
                    }

                    .level3 {
                        display: none;
                    }

                    .level3-pressed {
                        display: none;
                    }
                }

                &.level3 {
                    .level1 {
                        display: none;
                    }

                    .level1-pressed {
                        display: none;
                    }

                    .level2 {
                        display: none;
                    }

                    .level2-pressed {
                        display: none;
                    }

                    .level3 {
                        display: block;
                    }

                    .level3-pressed {
                        display: none;
                    }
                }

                &.level3-pressed {
                    .level1 {
                        display: none;
                    }

                    .level1-pressed {
                        display: none;
                    }

                    .level2 {
                        display: none;
                    }

                    .level2-pressed {
                        display: none;
                    }

                    .level3 {
                        display: none;
                    }

                    .level3-pressed {
                        display: block;
                    }
                }
            }

            .sound {
                @include displayFlex(row, center, center, 0);
                cursor: pointer;

                .enabled {
                    display: block;
                }

                .disabled {
                    display: none;
                }


                img {
                    @include size(40px);
                }

                &.muted {
                    .enabled {
                        display: none;
                    }

                    .disabled {
                        display: block;
                    }
                }
            }
        }


        .goButton {
            @include size(152px, 140px);
            min-width: 152px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            touch-action: manipulation;



            #goDefault {
                opacity: 1;
            }

            #gopressed, #plusPressed, #minusPressed {
                opacity: 0;
            }

            #goDefault, #gopressed, #plusPressed, #minusPressed {
                @include setPosition(absolute, 0, auto, auto, 0);
                @include size(100%);
            }

            &.GoButtonactive {
                #gopressed {
                    opacity: 1;
                }

                #goDefault, #plusPressed, #minusPressed {
                    opacity: 0;
                }
            }

            &.PlusButtonactive {
                #plusPressed {
                    opacity: 1;
                }

                #goDefault, #gopressed, #minusPressed {
                    opacity: 0;
                }
            }

            &.MinusButtonactive {
                #minusPressed {
                    opacity: 1;
                }

                #goDefault, #gopressed, #plusPressed {
                    opacity: 0;
                }
            }

            &__minus {
                @include setPosition(absolute, 48%, auto, auto, 23%);
                @include size(70px, 135px);
                transform: translate(-50%, -50%);
                border-radius: 200px 0 0px 200px;
                cursor: pointer;
            }

            &__plus {
                @include setPosition(absolute, 48%, 23%, auto, auto);
                @include size(70px, 135px);
                transform: translate(50%, -50%);
                border-radius: 0 200px 200px 0;
                cursor: pointer;
            }

            &__play {
                @include setPosition(absolute, 35%, auto, auto, 50%);
                @include size(70px);
                transform: translate(-50%, -50%);
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}


@keyframes hideButtonRight {
    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(40px);
        scale: 0.5;
    }

    to {
        opacity: 0;
        scale: 0;
        transform: translateY(100vw);
    }
}

@keyframes hideButtonLeft {
    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(40px);
        scale: 0.5;
    }
    to {
        opacity: 0;
        scale: 0;
        transform: translateY(100vw);
    }
}

@keyframes borderLineAnimation{
    from{
        left: 0%;
    }

    to{
        left: 100%;
    }
}


.bundleAmount {
    text-align: center;
    color: #58B6F4;
    font-family: "Digib";
    align-self: center;
    font-size: 15px;
}

.hiddenLayer{
    display:none;
}

.hiddenLayer2 {
    opacity: 0;
}

img{
    pointer-events:none;
}

.highRes{
    scale:2;
    transform:translate(-25%, -25%);
}

@media screen and (max-height: 760px) and (min-width: 1000px) {
    #bottom-panel {
        scale: 0.8;
        transform: translate(-62.5%, 4%);
        width: 90%;
    }

    #bottom-panel-info {
        width: calc(var(--app-height) / 1.8);
    }
}

@media screen and (min-width: 2000px) {

    #bottom-panel {
        scale: 1.1;
        transform: translate(-45.25%, -10%);
        width: 90%;
    }

    #bottom-panel-info {
        width: calc(var(--app-height) / (1.8 * 1.1));
    }
}


@media screen and (min-width: 2500px) {
    #bottom-panel {
        scale: 1.25;
        transform: translate(-40%, -10%);
        width: 82.5%;
    }


    #bottom-panel-info {
        width: calc(var(--app-height) / (1.8 * 1.25));
    }
}

@media screen and (min-width: 3000px) {
    #bottom-panel {
        scale: 1.5;
        transform: translate(-33.33%, -16.66%);
        width: 75%;
    }

    #bottom-panel-info {
        width: calc(var(--app-height) / (1.8 * 1.5));
    }
}


/* LOADER */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000000;
    animation: fadeIn 0.5s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    z-index:30;
    gap: 8%;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 800px;
        height: fit-content;

        &__video {
            width: 15.625vw;
            min-height: 50px;

            @media only screen and (max-width: 1366px) {
                width: 17vw;
            }


            @media only screen and (max-width: 1000px) {
                width: 21vw;
            }


            @media only screen and (max-width: 768px) {
                width: 26vw;
            }
        }

        &__img {
            width: 18.229166vw;

            @media only screen and (max-width: 1366px) {
                width: 21vw;
            }


            @media only screen and (max-width: 1000px) {
                width: 25vw;
            }


            @media only screen and (max-width: 768px) {
                width: 31vw;
            }
        }
    }

    $line-width: 2px;
    $line-color: rgba(255,255,255,1);

    .box {
        height: 12px;
        width: 181px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


        @media only screen and (min-width: 1920px) {
            transform: scale(1);
        }

        @media only screen and (min-width: 2560px) {
            transform: scale(2.2);
        }

        @media only screen and (min-width: 3840px) {
            transform: scale(2.5);
        }

        @media only screen and (max-width: 1366px) {
            transform: scale(0.8);
        }

        @media only screen and (max-width: 1000px) {
            transform: scale(0.7);
        }


        @media only screen and (max-width: 768px) {
            transform: scale(0.6);
        }

        &__progress {
            width: 179px;
            height: 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 2px;

            &__slot {
                height: 8px;
                min-width: 16px;
                background: white;
            }
        }
    }

    .box__line {
        position: absolute;
        background: $line-color;

        &--top, &--bottom {
            height: $line-width;
            width: 100%;
        }

        &--top {
            top: -$line-width;
        }

        &--bottom {
            bottom: -$line-width;
        }

        &--left,
        &--right {
            width: $line-width;
            height: 100%;
        }

        &--left {
            left: -$line-width;
        }

        &--right {
            right: -$line-width;
        }
    }
}