.ControllsLeft{
    margin-right: 10px;
}
.menu{
    width: 60px;
    cursor: pointer;
    height: 57px;
    border-radius: 50%;
    overflow:hidden;
    margin-left: 30px;
}

.menu img{
    width: 100%;
}

.autoplay_container{
    position: relative;
}

.autoplay{
    width: 60px;
    cursor: pointer;
    height: 57px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 30px;
}
.autoplay img{
    width: 100%;
}

.autoplay_ballsleft{
    width: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -28px;
    font-size: 16px;
    left: 30px;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
}