.info-cont{
    text-align: center;
    width: 400px;
    margin-left: calc(50% - 200px);
    border-radius: 10px;
    background-color: bisque;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.info-cont input{
    margin-bottom: 15px;
}

header p {
    text-align: center;
}
.submit{
    margin-top: 20px;
    width: 140px;
    height: 30px;
    background-color: #1B2EDA;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.submit:hover{
    background-color: black;
    transition-duration: 3s;
}